{% extends 'accounts/main.html' %}
{% block content %}
<h2>Image Preview</h2>
<p><b>{{ image.name }}</b> ({{ image.file.size }} bytes, uploaded {{ image.uploaded_at|date:"Y-m-d H:i" }})</p>
<img src="{% url 'serve_image' image.id %}" alt="{{ image.name }}" style="max-width:600px;width:100%;height:auto;">
<br>
<a href="{% url 'serve_image' image.id %}" download="{{ image.name }}">
    <button type="button">Download Image</button>
</a>
<br>
<a href="{% url 'images' %}">Back to Images</a>
{% endblock %}